<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <h1>Insertar Pais y capital en la base de datos</h1>
<div class="container">
    <form action="http://localhost:8080/insertaPais" method="POST">
        <label for="Pais">Pais:</label>
        <input type="text" name="nombre" value="España">
        <br/>
        <label for="Capital">Capital:</label>
        <input type="text" name="Capital">
        <br/>
        <input type="submit" value="Insertar Pais">
    </form>
  </div>
</body>
</html>